<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>MediaStore</display-name>

  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.truesculpt.onlinelibrary.Upload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>post</servlet-name>
    <servlet-class>com.truesculpt.onlinelibrary.UploadPost</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>com.truesculpt.onlinelibrary.Index</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>display</servlet-name>
    <servlet-class>com.truesculpt.onlinelibrary.Display</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>object</servlet-name>
    <servlet-class>com.truesculpt.onlinelibrary.Object</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>com.truesculpt.onlinelibrary.Admin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>xmlData</servlet-name>
    <servlet-class>com.truesculpt.onlinelibrary.XMLData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>feature</servlet-name>
    <servlet-class>com.truesculpt.onlinelibrary.Feature</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>post</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>object</servlet-name>
    <url-pattern>/object</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>xmlData</servlet-name>
    <url-pattern>/xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>feature</servlet-name>
    <url-pattern>/feature</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <url-pattern>/admin</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-role>
        <description>The role required to access restricted content</description>
        <role-name>admin</role-name>
  </security-role>
  
</web-app>
